.sidebar {
    max-height: calc(100vh - 90px);
}

.conversations {
    overflow-y: scroll;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }
  
::-webkit-scrollbar-track {
background: transparent;
}

::-webkit-scrollbar-thumb {
background: #fff;
border-radius: 10px;
}

.metamask {
    width: 50px;
    margin: 5px
}

.userProfilePicture {
    height: 100px;
}