.sendbox {
    box-shadow: inset 0px 0px 10px 4px #4CBFA6;
    user-select: none;
    height: 100%;

}

.sendbounds {
    height: 25%;
}

.chatbox {
    height: 100%;
    overflow-y: scroll;
}

.chatbounds {
    height: 75%;

}

.message {
    overflow-wrap: break-word;
    width: fit-content;
    max-width: 50%;
}

.self-message .peer-message {
    width: 100%;
    border: 1px solid white;
}

.self-message > .message {
    overflow-wrap: break-word;
    width: fit-content;
    max-width: 50%;
    float: right;
    background-color: #482673;
    color: white;
}

.peer-message > .message {
    overflow-wrap: break-word;
    width: fit-content;
    max-width: 50%;
    float: left;
    background-color: lightgray;
}

.self-message > .account {
    width: 100%;
    text-align: end;
}

.message-window {
    height: calc(100vh - 90px);
}