// Override default variables before the import
$theme-colors: (
  'turquoise': #4cbfa6,
  'lilac': #f6ebf4,
  'purple': #482673,
  'dark-purple': #2b1644,
  'orchid': #ed0b70,
  'denim': #301008,
);

// Import Bootstrap and its default variables
@import 'node_modules/bootstrap/scss/bootstrap';
// Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p,
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.font-hyper {
  font-family: 'hyper',sans-serif;
  margin:0;
}

.text-lg-h1 {
  font-size: 86px;
  font-weight: 700;
  line-height: 76px;
}

.text-lg-h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 37px;
}

.text-lg-h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.text-lg-h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.text-lg-h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.text-lg-h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.text-lg-lead {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.text-lg-lead2 {
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
}

.text-lg-p1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.text-lg-p2 {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}

.text-lg-small {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
}

@media (max-width: 576px) { 
  .text-sm-h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
  }
  
  .text-sm-h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 27px;
  }
  
  .text-sm-h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
  }
}

.blue-input {
  background: rgba(49, 145, 207, 0.25);
  border: 2px solid #3191cf;
  box-sizing: border-box;
}

.underline {
  text-decoration: underline!important;
}

.w-20 {
  width: 20%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

button.bg-denim:hover,
button.bg-denim:focus {
  background-color: #050708!important;
}

.px-6 {
 padding: 0 3rem;
}

.cursor-pointer{
  cursor: pointer;
}

.close, 
.close:hover {
  color: #fff; 
  opacity: 1;
}

.no-hover:hover,
.no-hover:focus {
  text-decoration: none;
}