.landing {
    background-image: radial-gradient(circle, rgba(0,0,0,0.25) 55%, rgba(0,0,0,1) 80%), url('./giphy.gif');
    background-color: black;
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    height: 100vh;
}

.option {
    text-decoration: none;

}

.glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 20px #f6ebf4, 0 0 30px #ed0b70;
    }
    to {
      text-shadow: 0 0 30px #f6ebf4, 0 0 60px #ed0b70;
    }
  }